@{
}


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>
                Die Facebook-Seite Nerdfee schwirrt seit September 2016 im Netz herum.
            </p>
            <p>
                Warum? Was will die? Was kann die?
            </p>
            <p>
                Bei der Nerdfee handelt es sich um Sophie Helmke, die 1987 im grauen Ruhrpott das Licht der Welt erblickte. Auch wenn es nicht ganz ihre Zeit war, hing die kleine Sophie mit dem Herzen schon immer an den 80ern, denn dort wimmelte es nur so vor Helden und Abenteuern, die ihr kleines Leben bunter machten.
            </p>
            <p>
                Sophie hatte schon immer eine Vorliebe für das Schreiben von Texten und so enstand eines Tages die "Nerdfee". Hier wird ordentlich rumgenerdet, über alles was das Kind im Herzen zum Hüpfen oder Kotzen bringt:
            </p>
            <p>
                Games, Comics, Serien, Filme und Toys der vergangenen, heutigen und kommenden Tage, werden hart aber herzlich rezensiert. Auch die ein oder andere Alltags-Anekdote aus ihrem nerdigen Leben findet den Weg auf das virtuelle Papier.
            </p>            
            <p align="center">
                <img class="img" src="~/images/logo.png" alt="Nerdfee"/>
            </p>
        </div>
    </div>
</div>